<%= Gon::Base.render_data %>
<div class="overlay">
  <div id="map-add-button" style= "inline-block" class="button-overlay xlarge red" data-toggle="collapse" data-target="#collapse-add-options">
    <%= icon('fas', 'plus') %>
  </div>

  <div id="collapse-add-options" class="collapse width" style="width: 0px">

  	<div class="toggle-add-malaria-report button-overlay large red menu-option pad2">
        <%= icon('fas', 'bullhorn') %>
    </div>
    <text class="toggle-add-malaria-report text-shadow menu-option">REPORT MALARIA OUTBREAK</text>

    <div class="toggle-add-future-locations button-overlay large yellow menu-option pad1">
        <%= icon('fas', 'calendar-plus') %>
    </div>
    <text class="toggle-add-future-locations toggle-add-future-locations-label text-shadow menu-option">ADD FUTURE SPRAY LOCATION</text>
  </div>
  
</div>
<div id="map"></div>
