<%= Gon::Base.render_data %>
<div class="overlay">
  <div id="collapse-add-options" class="collapse width" style="display:inline-block;">

      <button class="button-overlay large circle blue menu" onclick="buttonClick()">?</button>
      <text class="text-shadow menu">ADD FUTURE SPRAY LOCATION</text>


  </div>
  
  <button id="map-add-button" style= "inline-block" class="button-overlay xlarge circle red" data-toggle="collapse" data-target="#collapse-add-options" onclick="toggleSymbol()">+</button>
</div>
<div id="map"></div>
