<%= Gon::Base.render_data %>

<div class="overlay">
  <div id="map-add-button" style= "inline-block" class="button-overlay xlarge red" data-toggle="collapse" data-target="#collapse-add-options">
    <%= icon('fas', 'plus') %>
  </div>

  <div id="collapse-add-options" class="collapse width" style="width: 0px">

    <div class="toggle-add-malaria-reports button-overlay menu-option">
      <p class="tooltiptext m-tooltiptext">Report Malaria Outbreak</p>
      <%= icon('fas', 'flag') %>
    </div>

    <div class="toggle-add-future-spray-locations button-overlay menu-option">
      <p class="tooltiptext f-tooltiptext">Add Future Spray Location</p>
      <%= icon('fas', 'calendar-plus') %>
    </div>
  </div>
  
</div>
<div id="map"></div>
