  <div class="signIn-left">
    <div class="signIn-title l-v-bottom-spaced">
      <div class="signIn-logo">
        <div>mSpray</div>
        <div>Monitor</div>
        <div>Dashboard</div>
      </div>
    </div>
    <p>
      mSpray is an application for keeping track of malaria treatment programs</a>.
    </p>
  </div>
  
  <div class="signIn-right">
    <div>
      <div class="l-text-align-center">
        <%= link_to "/auth/google_oauth2", { class: "button button-primary l-v-top-spaced"} do %>
          <%= icon('fas', 'angle-double-right', class: 'strong') %>
          <span>Sign in with Google</span>
        <% end %>
      </div>
    </div>
  </div>
