  <div class="signIn-left">
    <div class="signIn-title l-v-bottom-spaced">
      <div class="signIn-logo">
        <div>mSpray</div>
        <div>Monitor</div>
        <div>Dashboard</div>
      </div>
    </div>
    <p>
      mSpray is an application for keeping track of malaria treatment programs</a>.
    </p>
  </div>
  
  <div class="signIn-right">
    <div>
      <div class="l-text-align-center">
        <%= google_sign_in_button proceed_to: session_create_path, class: "btn-large red" do %>
          <div class="left google__logo"> <%= icon("fab", "google") %> </div>
          <div class="right google__text"> Sign in with Google </div>
        <% end %>
      </div>
    </div>
  </div>
