.callout {
  display: inline-block;
  padding: $default-margin;
  border-radius: $default-border-radius;
  border: 1px solid $border-color;

  &.callout-blue {
    background: lighten($blue, 45%);
    border: 0;
  }
}
