.email {
  background: $white;
  line-height: 1.5;

  .email_content {
    background: $white;
    margin: 0 auto;
    padding: ($default-padding * 2) ($default-padding * 3);
    width: 580px;
    border: 1px solid $border-color;
    border-radius: $default-border-radius;
  }

  .email_logoContainer {
    display: block;
    text-align: center;

    .email_logo {
      background: $secondary-color;
      display: inline-block;
      font-size: 11px;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: $default-margin;
      padding: $default-margin / 2;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;

      &:visited {
        color: $white;
      }
    }
  }

  .underline {
    text-decoration: underline;
  }

  .deemphasized {
    color: $deemphasized-color;
  }

  .note {
    color: #E88E8D;
  }

  h1 {
    color: $primary-color;
    font-size: 20px;
  }

  a {
    color: $link-color;

    &:visited {
      color: $link-color;
    }
  }

  ul {
    list-style-type: none;
  }
}
