.footer {
  bottom: 0;
  right: 0;
  position: fixed;
  width: calc(100vw - 300px);
  background: transparentize($primary-color, .5);
  padding: $default-padding / 2 $default-padding;

  .footer_right {
    float: right;
  }
}