.gm-iv-address-link {
  display: none;
}

.button-overlay{
  position: relative;	
  border:none;
  display:inline-block;
  padding:0px 24px;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap;
  z-index: 505; /* stack order*/
}

.button-overlay.menu{
  padding: 4px 20px;
  vertical-align: 4px;
  margin: 0 8px 0 0;
}

.overlay{
  position: absolute;
  border: none;
  display:inline-block;
  color:inherit;
  background-color:inherit;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  z-index: 505;
  right: 25px;
  bottom: 25px;
}

.button-overlay:hover{
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

text.text-shadow{
  color: white;
  text-shadow:0 2px 30px #000000, 0 0px 5px #000000;
  font-size: 15px;
  font-weight: bold;
}

text.menu{
  vertical-align: 8px;
}

.xlarge{
  font-size:48px!important
}

.large{
  font-size:32px!important
}

.circle{
  border-radius:50%
}

.red,.hover-red:hover{
  color:#fff!important;
  background-color:#f44336!important
}

.blue, .hover-blue:hover{
  color: #fff!important;
  background-color: #7072ea!important
}

#collapse-add-options {
  padding-right: 15px;

  &.collapse {
    visibility: hidden;
  }
  &.collapse.in {
    visibility: visible;
    display: block;
  }

  &.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height;
    vertical-align: -11px;

    &.width {
      width: 0;
      height: auto;
      transition-property: width;
    }
  }

}
