#map {
  height: 100%;
}

.gm-iv-address-link {
  display: none;
}

.overlay{
  position: absolute;
  display:inline-block;
  white-space: nowrap;
  z-index: 1;
  right: 25px;
  bottom: 25px;
}

.button-overlay{
  position: relative; 
  display: inline-flex;
  cursor:pointer;

  border:none;
  border-radius:50%;

  color: #fff;
  background-color: #db4437;
  text-align:center;

  &.menu-option {
    font-size: 28px;
    vertical-align: 4px;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

}

.blue {
  background-color: #0288d1;

  &:hover div, &.active {
    background-color: #0277bd;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

.toggle-add-future-spray-locations {
  background-color: #ffbb33;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2);
  margin-right: 74px;

  &.button-overlay {
    padding: 12px 15px;
  }

  &:hover, &.active {
    background-color: #ce9524;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

.toggle-add-malaria-reports {
  background-color: #db4437;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.2);
  margin-right: 10px;

  &.button-overlay {
    padding: 12px 11px;
  }

  &:hover, &.active {
    background-color: rgb(163, 4, 4);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

.green {
  background-color: #00C851;

  &:hover div, &.active {
    background-color: #007E33;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

#collapse-add-options {
  margin-top: 10px;
  margin-right: -60px;
  display: inline-block;

  &.collapse {
    visibility: hidden;
  }
  &.collapse.in {
    visibility: visible;
  }

  &.collapsing {
    position: relative;

    height: auto;
    vertical-align: -12px;
    
    margin-right: -60px;
    padding-right: 0px;

    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height;

    &.width {
      width: 0;
      height: auto;
      transition-property: width;
    }
  }

}

#map-add-button {
  float: right;
  z-index: 999;

  padding: 12px 17px;
  width: 75px;

  font-size:48px;
  color: #fff;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);

  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

}
