.modal {
  bottom: unset;

  form {
    margin-top: 0px;
    width: 100%;
  }
}

.modal-content {
  border: unset;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}

.modal .modal-footer {
  background-color: #fff;
  border-top: unset;
}
