.pill {
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 9px;
  letter-spacing: 2px;
  padding: $default-padding / 6 $default-padding / 3;
  text-transform: uppercase;

  &.pill-small {
    padding: $default-padding / 30 $default-padding / 6;
  }

  &.pill-primary {
    background-color: $primary-color;
  }

  &.pill-secondary {
    background-color: $secondary-color;
  }

  &.pill-blue {
    background-color: #33B7CC;
  }

  &.pill-green {
    background-color: #88D18A;
  }

  &.pill-orange {
    background-color: #FCB97D;
  }

  &.pill-purple {
    background-color: #4E5166;
  }

  &.pill-warning {
    background-color: $danger-color;
  }
}
