.radio_icon_label {
  font-size: 22px !important;
}

.hidden_radio_item {
  display: none;
}

.hidden_radio_item_label {
  color: $gray;
}

.hidden_radio_item_label:hover {
  color: $light-gray;
}

.hidden_radio_item_label_selected.hidden_radio_item_label_success {
  color: green;
}

.hidden_radio_item_label_selected.hidden_radio_item_label_success:hover {
  color: $green;
}

.hidden_radio_item_label_selected.hidden_radio_item_label_failed {
  color: red;
}

.hidden_radio_item_label_selected.hidden_radio_item_label_failed:hover {
  color: $red;
}
