.sidebar {
  background-color: #fff;
  box-shadow: 5px 0px 10px #ddd;
  height: 100%;
  padding-top: $default-spacing;
  position: fixed;
  user-select: none;
  width: $sidebar-width;

  .sidebar__link {
    border-radius: 0 19px 19px 0;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 50px;
    padding: 9px 0 9px $default-spacing;
    transition: all 0.3s;
    
    a {
      color: #384173;
    }

    &:hover {
      background-color: #efeff8;

      a {
        color: #2d81ff;
      }
    }
  }
}

.main_content {
  margin-left: $sidebar-width;
}
