.login-background {
  background: url("/assets/signin_background.jpg");
  background-size: cover;
  background-position: 50% 20%;
  height: 100%;
  width: 100%;
}

.login__container {
  background-color: #fff;
  box-shadow: 0px 0px 30px #888;
  left: 30vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.login__container-header {
  width: 40vw;
}

.login__container-contents {
  padding: $default-padding;
}

.google__logo {
  padding-right: 8px;
}

.google__text {
  padding-left: 16px;
  padding-right: 16px;
}
