.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1000;

  font-size: 15px;

  bottom: 84%;
  margin-left: -27px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  } 

  &.f-tooltiptext {
    width: 213px;
    left: -94%;
  }
  
  &.m-tooltiptext {
    width: 200px;
    left: -85%;
  }
}

.toggle-add-future-spray-locations {
  &:hover .f-tooltiptext {
    visibility: visible;
    transition-delay:0.5s;
  }
}

.toggle-add-malaria-reports {
  &:hover .m-tooltiptext {
    visibility: visible;
    transition-delay:0.5s;
  }
}