$black: #000000;
// $blue: #70BACF;
$blue: #4F7CAC;
$light-blue: #74C5D3;
$dark-blue: #39576B;
$orange: #FCB97D;
$red: #F29791;
$green: #ABE188;
$dark-gray: #888;
$darker-gray: #444;
$gray: #BBB;
$light-gray: #DDD;
$lighter-gray: #EEE;
$white: #FFF;

$background-color: $white;
$border-color: $light-gray;
$text-color: $darker-gray;
$link-color: #AAA;

$primary-color: $blue;
$secondary-color: $light-blue;
$warning-color: $orange;
$danger-color: $red;
$border-color: $light-gray;
$deemphasized-color: #AAA;