// Spacing

$default-padding: 25px;
$default-margin: 20px;
$default-spacing: 30px;
$sidebar-width: 250px;

// Typography

$default-font-family: $Raleway;
$default-font-size: 13px;
$default-font-weight: 300;
$default-font-weight-bold: 500;

// Base Borders & Box Shadows

$default-border-radius: 3px;
$default-box-shadow: 0 1px 2px rgba(0,0,0,.2);
