@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900");

$Raleway: "Raleway", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h6 {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a {
  color: $blue;

  &:hover {
    color: darken($blue, 15%);
    text-decoration: none;
  }
}