@import "animate";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables/colors";
@import "variables/typography";
@import "variables/default";

@import "modules/button";
@import "modules/callout";
@import "modules/email";
@import "modules/footer";
@import "modules/layout";
@import "modules/nav";
@import "modules/new-table";
@import "modules/notice";
@import "modules/pill";
@import "modules/radio-replacement";
@import "modules/sign-in";
@import "modules/tooltip";

html {
    height: 100%;
}

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: $default-font-size;
  letter-spacing: .3px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.link {
  color: $link-color;
  text-decoration: underline;
  transition: all .25s;

  &:hover {
    color: darken($link-color, 20%);
  }
}

.icon-right-spaced {
  margin-right: $default-margin / 3;
}

.icon-center-spaced {
  margin-left: $default-margin / 6;
  margin-right: $default-margin / 6;
}

// MAIN CONTENT
.content {
    height: 100%;
}

.main-content {
  margin-left: 250px;
  height: 100%;
  padding: $default-padding !important;
}

.main-map-content {
  margin-left: 250px;
  height: 100%;
}

#map {
  height: 100%;
}

// FORM
.form-horizontal {
  display: inline-block;
  margin-top: $default-margin * 1.5;

  .form-control-fake {
    padding: 6px;
    display: inline-block;
  }

  .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;

    .control-label {
      float: left;
      font-weight: 400;
      margin-bottom: $default-margin / 2;
      text-align: left !important;
      text-transform: capitalize;
      width: 150px;
    }

    .form-control {
      width: 400px;

      &:focus {
        background: inherit;
        box-shadow: none;
      }
    }
  }

  .form-submit-container {
    float: right;
  }
}

//DATA
.filter-view {
    color: #777;
}
.filter-view-button {
    cursor: pointer;

    &:hover {
        color: black;
    }
    &:hover > strong {
        text-decoration: underline;
    }
}

.data-table {

  .data-name {
    letter-spacing: .3px;
    padding: 0;
    border: none;
    background: none;
    text-align: left;

    &:focus {
      box-shadow: none !important;
      outline: none;
    }
  }

  .column-header {
    letter-spacing: .3px;
    padding: 0;
    border: none;
    background: none;
  }

  .data-description-container {
    padding-top: $default-padding / 2;
    white-space: normal;
    margin-right: -235%;

    .data-description {
      width: 50%;
      display: inline-block;
      position: relative;
    }

    .data-requirements {
      display: inline-block;
      margin-left: $default-margin;
      vertical-align: top;
      width: 46%;
    }
  }

  .data-container {
    padding-top: $default-padding / 2;
    white-space: normal;
    margin-left: $default-margin;
    margin-right: -438%;
      
    .data-ddt {
      display: inline-block;
      position: relative;
      width: 20%;
    }

    .data-pyrethroid {
      display: inline-block;
      margin-left: $default-margin;
      vertical-align: top;
      width: 20%;
    }
    .data-no-spray {
      display: inline-block;
      margin-left: $default-margin;
      vertical-align: top;
      width: 20%;
    }
  }

  tr.data-row:hover {
    background-color: rgb(248,248,248);
  }
}

.highlight-row {
  background-color: $lighter-gray;
  padding: $default-padding / 5 $default-padding / 2 !important;

  .data-category {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}

.data-catalog-name {
  font-size: 15px;
  font-weight: bold;
}

@media (max-width: 600px) {

  .filter-view, #collapse-filter {
    display: none;
  }

  .content {
    padding: $default-padding / 2;
    text-align: center;
    white-space: normal;
  }

  .main-content {
    margin-left: 0;
    margin-top: 50px;
    padding: $default-padding !important;
  }

  h1 {
    font-size: 24px;
  }

  .form-horizontal {
    width: 100% !important;

    .form-control {
      width: 100% !important;
    }
  }
}
